{{ form_start(form) }}
    {{ form_widget(form.name,{'attr':{'class':'form form-control'}}) }}<br>
    <button class="btn btn-primary btn-block">{{ button_label|default('Enregister la Catégorie') }}</button>
{{ form_end(form) }}
