{% extends 'Layout/base.html.twig' %}

{% block title %}Creer une nouvelle categorie{% endblock %}

{% block header %}{% endblock %}

{% block body %}

    <div class="container">
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }} <br>

    <a href="{{ path('app_category_index') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
